<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 class="{{tipo}}">
                    {{mensagem}}
                </h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar Novamente
                </button>
            </div>
        </div>
    </div>
</ng-template>