.progress {
    background: #EEF8DA;
    border: solid 1px #99CE28;
}

.progress-bar {
    background: #99CE28;
}

.w-20 {
    width: 20% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}